.language-selector {
    margin-left: 50px;
}

.language-button {
    margin-right: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #f0f0f0;
    color: #333;
    font-size: 14px;

    &.active {
        background-color: $main-red;
        color: white;
    }
}